<!DOCTYPE html>
  <html lang="ja">

<head>
    <meta charset="utf-8">
    <meta value="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Circle Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
      <h2>Circle finder</h2>
      <form action="/benign" method="post">
      <button name="benign" value="from post">benign</button>
      </form>
      <form action="/defective" method="post">
      <button name="defective" value="from post">defective</button>
      </form>
      <img src="{{ img_url }}" alt="picture" title="picture">
</body> 

</html>
