<!DOCTYPE html>
  <html lang="ja">

<head>
    <meta charset="utf-8">
    <meta value="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Circle Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
      <h2>Circle finder</h2>
      <img width="70%" height="70%" src="{{url_for('video_feed') }}" style="position: absolute; left: 3%; top: 15%"></img>
</body> 

</html>